{% extends "base.html" %}
{% block title %}{{ article.title }}{%endblock%}
{% block content %}

{% if article.top_img %}
    <div class="jumbotron img-title" style="background-image: url('{{SITEURL}}{{article.top_img}}');" parallax=0.75>
    <br><br><br><br>
    {% else %}
    <div class="jumbotron title">
    {% endif %}
        <div class="container">
          {% if article.rating %}
          <div class="rating">
              {{ helper.rating(article.rating) }}
          </div>
          {% endif %}
          <h1>{{article.title}}</h1>
          <p class="lead" style="color: #dde; font-weight: 100">{{article.header}}</p>
        </div>
    </div>

<div class="container">
<div id="content">
    <p class="meta"><small>
        <span><i class="fa fa-calendar" style="padding-left:0;"></i>{{ article.locale_date }}</span>
        {% if DISQUS_SITENAME %}
        <span><i class="fa fa-comments"></i><a href="{{ helper.articleURL(article) }}#disqus_thread" data-disqus-identifier="{{article.category}}/{{article.slug}}">Comments</a></span>
        {% endif %}
        <span class="tags">{% if article.tags %}<i class="fa fa-tags" style="padding-left:14px"></i>{% for tag in article.tags %}<a href="/tag/{{ tag }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</span>
    </small></p>

    <div class="entry-content">
        {{ article.content }}
        </div><!-- /.entry-content -->
        {% if DISQUS_SITENAME %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = '{{ DISQUS_SITENAME }}'; // required: replace example with your forum shortname
            var disqus_identifier = '{{ article.category }}/{{ article.slug }}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
</div>
</div>
{% endblock %}
