{% extends "base.html" %}
{% block title %}{{ article.title }}{%endblock%}
{% block content %}

{% if article.top_img %}
    <div class="jumbotron img-title" style="background-image: url('{{SITEURL}}{{article.top_img}}');" parallax=0.75>
    <br><br><br><br>
    {% else %}
    <div class="jumbotron title">
    {% endif %}
        <div class="container">
          <!--
          {% if article.rating %}
          <div class="rating">
              {{ helper.rating(article.rating) }}
          </div>
          {% endif %}
          -->
          <h1>{{article.title}}</h1>
        </div>
    </div>

<div class="container">
<div id="content">

    <div class="entry-info meta">
        <p class="meta" style="margin: 0px;">
        <ul>
            <li>
            <b>
                {%- if article.category == "code" -%}
                <i class="fa fa-code" style="padding-left:0"></i> In {{ article.category }}
                {%- elif article.category == "reviews" -%}
                <!--<i class="fa fa-star" style="padding-left:0;"></i>-->
                <!---->
                <span class="mini-rating" style="font-size: 14pt;">
                    {{ helper.rating(article.rating) }}
                </span>
                <!---->
                {%- elif article.category == "blog" -%}
                <i class="fa fa-book" style="padding-left:0;"></i> In {{ article.category }}
                {%- endif -%}

            </b>
            </li>
            <li><i class="fa fa-calendar" style="padding-left:0; padding-right: 4px;"></i>{{ article.locale_date }}</li>
            <li>
                <a href="{% if DISQUS_SITENAME %}{{ helper.articleURL(article) }}#disqus_thread{% else %}#{% endif %}"
                   >
                    <i class="fa fa-comments" style="padding-left:0; padding-right: 4px;"></i><span data-disqus-identifier="{{article.category}}/{{article.slug}}">Comments</span>
                </a>
            </li>
        </ul>
    </div>

    {% if article.header %}
    <div class="entry-content" style="width: 100%;">
        <!--<h1>{{article.title}}</h1>-->
        <h2>{{article.header}}</h2>
    </div>
    <!--<div style="clear: both"></div>-->
    {% endif %}

    <div class="entry-content">
        {{ article.content }}

        <p class="tags meta">
            {% if article.tags %}
                <i class="fa fa-tags" style="padding-left:0px"></i>
                {% for tag in article.tags %}
                    <a href="/tag/{{ tag }}/">{{ tag }}</a>
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
        </p>

        </div><!-- /.entry-content -->
        {% if DISQUS_SITENAME %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = '{{ DISQUS_SITENAME }}'; // required: replace example with your forum shortname
            var disqus_identifier = '{{ article.category }}/{{ article.slug }}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
</div>
</div>
{% endblock %}
